{% extends "base.html" %}


{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <h1 class="text-center">Welcome to One Minute Pitch.</h1>
    <div class="img">
        <img src="static/download (1).jpeg" alt="pitch">
    </div>
    <br>
    <hr>


    <br>
    <h2 class="text-center">Categories</h2>
    <br>
    <hr>
    <br>
    <div class="row categories">
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p></p>
            <a href="{{url_for('main.pitches_category',category='politics')}}">politics</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p></p>
            <a href="{{url_for('main.pitches_category',category='business')}}">business</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p></p>
            <a href="{{url_for('main.pitches_category',category='sports')}}">sports </a>
        </div>
    </div>
    <div class="row categories">
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p></p>
            <a href="{{url_for('main.pitches_category',category='meme')}}">meme</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p></p>
            <a href="{{url_for('main.pitches_category',category='arts')}}">art</a>
        </div>
        <div class="category col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{{url_for('main.pitches_category',category='all')}}">All</a>
        </div>
    </div>
</div>


<style>
    .img {
        margin-left: 40%;
        margin-right: 40%;
    }

    .style {
        font-family: Courgette;
        text-align: center;
        font-size: 200%;
    }

    #style {
        font-size: 200%;
    }

    .category {
        padding-bottom: 50px;
</style>
{% endblock %}